body {

background-color: #E6DAC8;
font-family: Tahoma, Verdana, sans-serif;
text-align: center;
}

h1 {

color: #E6DAC8;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

h2 {
color: black;
text-align: center;   

}

p {

font-family: verdana;
font-size: 20px;
text-align: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #d7bc89;
}

ul li {

float: left;
}

ul li a {

display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

img {

display: block;
margin: auto;
width: 50%;
}

table {

display: table;
border-collapse: collapse;
width: 90;
max-width: 500px;
border-color: rgb(165, 113, 45);
}

div {
    
display: block;
}

footer {
background-color: #7C6658;
text-align: center;
padding: 5px;
margin-top: 10px;
}
